# Script de conversion des données au format SEBIA

Dans ce script, nous allons récupérer trois fichiers :

1. Un fichier `lemans_if_matUNNORMED.csv` qui contient les données X des courbes, *non normalisées*.
2. Un fichier `if_simple_y.csv` qui contient les annotations y textuelles
3. Un fichier `if_v1_y.npy` qui contient les annotations y étendues (segmentation)

*Il est à noter que ces trois fichiers contiennent le même nombre d'échantillons (1803) non identifiés mais listés dans le même ordre.*

Et on va convertir tout cela pour obtenir pour chaque échantillon du jeu de données :

1. Un fichier `.csv` contenant les données X et l'annotation textuelle
2. Un fichier `.csv` contenant les données Y et l'annotation textuelle

On va placer tous ces fichiers dans un même répertoire.

## 1. Chargement des données brutes

In [4]:
import os
import numpy as np
import pandas as pd

raw_data_path = r"C:\Users\admin\Documents\Capillarys\data\2021\ifs"

In [5]:
raw_data_X = pd.read_csv(os.path.join(raw_data_path, "lemans_if_matUNNORMED.csv"))

In [6]:
raw_data_X

,AID,iggk,iggl,igak,igal,igmk,igml,ELPx1,ELPx2,ELPx3,...,Lx291,Lx292,Lx293,Lx294,Lx295,Lx296,Lx297,Lx298,Lx299,Lx300
0,AAIDpO3qwDKX,0,0,0,0,1,0,0,18,17,...,4,4,4,4,4,4,4,4,4,0
1,AAIDUgPCI7Ge,1,0,0,0,0,0,0,30,30,...,4,4,4,4,4,4,4,4,4,0
2,AAIDcPcSDO5T,1,0,0,0,0,0,0,20,19,...,4,4,4,4,4,4,4,4,4,0
3,AAIDj0l8Lt4v,1,0,0,0,0,0,0,17,16,...,0,0,0,0,0,0,0,0,0,0
4,AAIDFbpCFUoq,1,0,0,0,0,0,0,21,22,...,5,5,5,5,5,5,5,5,5,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1798,AAIDSdma11d9,1,0,0,0,0,0,0,24,25,...,0,0,0,0,0,0,0,0,0,0
1799,AAIDH7CDm0d2,1,0,0,0,0,0,0,63,80,...,0,0,0,0,0,0,0,0,0,0
1800,AAIDv00UsP83,0,0,0,0,1,0,0,25,28,...,0,0,0,0,0,0,0,0,0,0
1801,AAID1fafk3bx,1,0,0,0,0,0,0,28,29,...,0,0,0,0,0,0,0,0,0,0
1802,AAIDZ1yMzXzh,0,0,0,0,0,1,0,25,26,...,0,0,0,0,0,0,0,0,0,0

In [9]:
raw_data_Y_text = pd.read_csv(os.path.join(raw_data_path, "if_simple_y.csv"))

In [11]:
raw_data_Y_text

     Abnormality
0          Ig Mk
1          Ig Gk
2          Ig Gk
3          Ig Gk
4          Ig Gk
...          ...
1798       Ig Gk
1799       Ig Gk
1800       Ig Mk
1801       Ig Gk
1802       Ig Ml

[1803 rows x 1 columns]

In [12]:
raw_data_Y_ext = np.load(os.path.join(raw_data_path, "if_v1_y.npy"))

In [14]:
raw_data_Y_ext.shape

(1803, 304, 5)

On va alors pouvoir compiler chaque échantillon dans deux fichiers `.csv`.

## 2. Conversion des données

On choisit en premier l'endroit où l'on va sauvegarder toutes les données :

In [15]:
clean_data_path = r"C:\Users\admin\Documents\Capillarys\data\2021\ifs\formatted_data"

Puis on va réaliser la conversion :

In [ ]:
def convertToCleanData(i):
    raw_data_X =